.main-layout {
  background-image: url("../../assets/images/home_page_1.jpg");
  height: 100vh;
  object-fit:cover;
  background-repeat: no-repeat;
  width: 100vw;
  margin-top:30px
  
  // margin: 0;
  // direction: rtl;
  //   filter: blur(3px);
}

.normal-layout{
  position:fixed;
  bottom:0;
  left:400px
}

.card-layout{
  position:fixed;
  transform: rotate(171deg);
  top:-260px;
  left:-100px
}

.shifted-layout{
  position:fixed;
  bottom:-260px;
  left:-100px
}